<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="mt-push-engagelab-plugin"
        version="1.0.1">
    <name>MTPushEngagelab</name>


    <preference name="HONOR_APPID" default="HONOR_APPID"/>
    <preference name="VIVO_APPID" default="VIVO_APPID"/>
    <preference name="VIVO_APPKEY" default="VIVO_APPKEY"/>
    <preference name="OPPO_APPID" default="OPPO_APPID"/>
    <preference name="OPPO_APPKEY" default="OPPO_APPKEY"/>
    <preference name="OPPO_APPSECRET" default="OPPO_APPSECRET"/>
    <preference name="MEIZU_APPID" default="MEIZU_APPID"/>
    <preference name="MEIZU_APPKEY" default="MEIZU_APPKEY"/>
    <preference name="XIAOMI_GLOBAL_APPID" default="XIAOMI_GLOBAL_APPID"/>
    <preference name="XIAOMI_GLOBAL_APPKEY" default="XIAOMI_GLOBAL_APPKEY"/>
    <preference name="ENGAGELAB_PRIVATES_APPKEY"/>
    <preference name="ENGAGELAB_PRIVATES_CHANNEL" default="developer-default"/>
    <preference name="ENGAGELAB_PRIVATES_PROCESS" default=":remote"/>

<!--    &lt;!&ndash; google  参数 &ndash;&gt;-->
<!--    <preference name="CLIENT_ID" default="CLIENT_ID"/>-->
<!--    <preference name="PROJECT_NUMBER" default="PROJECT_NUMBER"/>-->
<!--    <preference name="CURRENT_KEY" default="CURRENT_KEY"/>-->
<!--    <preference name="MOBILESDK_APP_ID" default="MOBILESDK_APP_ID"/>-->
<!--    <preference name="STORAGE_BUCKET" default="STORAGE_BUCKET"/>-->
<!--    <preference name="PROJECT_ID" default="PROJECT_ID"/>-->
<!--    &lt;!&ndash; google  end &ndash;&gt;-->
<!--    &lt;!&ndash;huawei 参数&ndash;&gt;-->
<!--    <preference name="HUAWEI_APP_ID" default="HUAWEI_APP_ID"/>-->
<!--    &lt;!&ndash;huawei end&ndash;&gt;-->

    <engines>
        <engine name="cordova" version=">=3.0"/>
    </engines>

    <!-- dependencies -->
<!--    <dependency id="cordova-plugin-device"/>-->


    <js-module name="MTPushEngagelab" src="www/MTPushEngagelab.js">
        <clobbers target="cordova.plugins.MTPushEngagelab"/>
    </js-module>


    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MTPushEngagelab">
                <param name="android-package" value="com.engagelab.push.MTPushEngagelab"/>
            </feature>
        </config-file>

        <framework src="src/android/MTPushEngagelab.gradle" custom="true" type="gradleReference"/>

<!--        <config-file parent="/resources" target="res/values/strings.xml" mode="merge">-->
<!--            <string name="default_web_client_id" translatable="false">$CLIENT_ID</string>-->
<!--            <string name="gcm_defaultSenderId" translatable="false">$PROJECT_NUMBER</string>-->
<!--            <string name="google_api_key" translatable="false">$CURRENT_KEY</string>-->
<!--            <string name="google_app_id" translatable="false">$MOBILESDK_APP_ID</string>-->
<!--            <string name="google_crash_reporting_api_key" translatable="false">$CURRENT_KEY</string>-->
<!--            <string name="google_storage_bucket" translatable="false">$STORAGE_BUCKET</string>-->
<!--            <string name="project_id" translatable="false">$PROJECT_ID</string>-->
<!--        </config-file>-->
        <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
            <manifest xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>

        <config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">

            <!-- 由于此类具有长连接功能，手机厂商省电优化时可能直接杀死包名带Engagelab字样的service -->
            <!-- 所以需要开发者继承com.engagelab.app.component.MTCommonService，提升长连接存活率，已达到提高消息到达率的目的 -->
            <service
                    android:name="com.engagelab.push.UserService"
                    android:exported="false"
                    android:process="$ENGAGELAB_PRIVATES_PROCESS">
                <intent-filter>
                    <action android:name="com.engagelab.privates.intent.USER_SERVICE"/>
                </intent-filter>
            </service>

            <!-- 用于接收Engagelab业务的回调，包含了长连接状态/通知开关状态/通知消息到达/通知消息点击/通知消息删除/自定义消息/厂商token回调 -->
            <!-- 不需要配置子进程，此回调中在主进程中，方便业务操作 -->
            <receiver
                    android:name="com.engagelab.push.UserReceiver"
                    android:exported="false">
                <intent-filter>
                    <action android:name="com.engagelab.privates.intent.USER_RECEIVER"/>
                </intent-filter>
            </receiver>

            <meta-data
                    tools:node="replace"
                    android:name="ENGAGELAB_PRIVATES_APPKEY"
                    android:value="$ENGAGELAB_PRIVATES_APPKEY"/>
            <meta-data
                    tools:node="replace"
                    android:name="ENGAGELAB_PRIVATES_CHANNEL"
                    android:value="$ENGAGELAB_PRIVATES_CHANNEL"/>
            <meta-data
                    tools:node="replace"
                    android:name="ENGAGELAB_PRIVATES_PROCESS"
                    android:value="$ENGAGELAB_PRIVATES_PROCESS"/>


            <meta-data
                    tools:node="replace"
                    android:name="XIAOMI_GLOBAL_APPID"
                    android:value="$XIAOMI_GLOBAL_APPID"/>
            <meta-data
                    tools:node="replace"
                    android:name="XIAOMI_GLOBAL_APPKEY"
                    android:value="$XIAOMI_GLOBAL_APPKEY"/>


            <meta-data
                    tools:node="replace"
                    android:name="MEIZU_APPID"
                    android:value="$MEIZU_APPID"/>
            <meta-data
                    tools:node="replace"
                    android:name="MEIZU_APPKEY"
                    android:value="$MEIZU_APPKEY"/>


            <meta-data
                    tools:node="replace"
                    android:name="OPPO_APPID"
                    android:value="$OPPO_APPID"/>
            <meta-data
                    tools:node="replace"
                    android:name="OPPO_APPKEY"
                    android:value="$OPPO_APPKEY"/>
            <meta-data
                    tools:node="replace"
                    android:name="OPPO_APPSECRET"
                    android:value="$OPPO_APPSECRET"/>

            <meta-data
                    tools:node="replace"
                    android:name="com.vivo.push.app_id"
                    android:value="$VIVO_APPID"/>
            <meta-data
                    tools:node="replace"
                    android:name="com.vivo.push.api_key"
                    android:value="$VIVO_APPKEY"/>
            <meta-data
                    tools:node="replace"
                    android:name="com.hihonor.push.app_id"
                    android:value="$HONOR_APPID" />
        </config-file>


        <source-file src="src/android/MsgToJson.java" target-dir="src/com/engagelab/push"/>
        <source-file src="src/android/MTPushEngagelab.java" target-dir="src/com/engagelab/push"/>
        <source-file src="src/android/UserReceiver.java" target-dir="src/com/engagelab/push"/>
        <source-file src="src/android/UserService.java" target-dir="src/com/engagelab/push"/>


    </platform>


    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MTPushEngagelab">
                <param name="ios-package" value="MTPushEngagelab"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>

        <header-file src="src/ios/MTPushEngagelabApi.h"/>
        <source-file src="src/ios/MTPushEngagelabApi.m"/>


        <header-file src="src/ios/MTPushEngagelabSelector.h"/>
        <source-file src="src/ios/MTPushEngagelabSelector.m"/>


        <header-file src="src/ios/MTPushEngagelabChannels.h"/>
        <source-file src="src/ios/MTPushEngagelabChannels.m"/>

        <header-file src="src/ios/MTPushEngagelabDelegate.h"/>
        <source-file src="src/ios/MTPushEngagelabDelegate.m"/>

        <header-file src="src/ios/MTPushEngagelabUtils.h"/>
        <source-file src="src/ios/MTPushEngagelabUtils.m"/>

        <header-file src="src/ios/MTPushEngagelab.h"/>
        <source-file src="src/ios/MTPushEngagelab.m"/>

        <header-file src="src/ios/AppDelegate+MTPush.h"/>
        <source-file src="src/ios/AppDelegate+MTPush.m"/>

        <header-file src="src/ios/lib/MTPushService.h"/>
        <source-file src="src/ios/lib/mtpush-ios-3.3.0.a" framework="true"/>
        <resource-file src="src/ios/MTPushConfig.plist" />

        <framework src="CFNetwork.framework" weak="true" />
        <framework src="CoreFoundation.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="CoreGraphics.framework" weak="true" />
        <framework src="Foundation.framework" weak="true" />
        <framework src="UIKit.framework" weak="true" />
        <framework src="Security.framework" weak="true" />
        <framework src="libz.tbd" weak="true" />
<!--        <framework src="AdSupport.framework" weak="true" />-->
        <framework src="UserNotifications.framework" weak="true" />
        <framework src="libresolv.tbd" weak="true" />
<!--        <framework src="StoreKit.framework" weak="true" />-->
        <framework src="libsqlite3.tbd" weak="true" />


        <config-file target="*MTPushConfig.plist" parent="Appkey">
            <string>$ENGAGELAB_PRIVATES_APPKEY</string>
        </config-file>

        <config-file target="*MTPushConfig.plist" parent="Channel">
            <string>$ENGAGELAB_PRIVATES_CHANNEL</string>
        </config-file>
    </platform>
</plugin>